body{
    background: url("../images/background-img.jpg");
    color: white;
}
.container{
    margin-top: 60px;
   background-color: black;
   min-height: 300px;
   opacity: 0.5;
   padding: 20px;
   color: white;

}

.question{
    margin-top: 20px;
    border-bottom: dotted, 2px, black;
}

#start-game{
    margin-top: 20px;
}

#header{
    margin-top: 20px;
    margin-bottom: 40px;
}